* {box-sizing: border-box}

body{
    /* text-align: center; */
    font-family: sans-serif;
}

.top{
    background-color: #4CAF50;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

.h1{
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}
/* Add padding to containers */
.container {
    padding: 0px 0px 16px 0px;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number], input[type=email], select, input[type=file] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=file]{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus, select:focus, input[type=file]:focus  {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #6b6659;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }
